@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-x-hidden bg-stone-900 text-white/80;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 100px;
}
